{% extends "base.html" %}
{% load bootstrap %}

{% block title %}{{ block.super }} - Prijavite događaj{% endblock title %}

{% block extra_css %}
  <link href="{{ STATIC_URL }}citajmi/css/bootstrap-datetimepicker.min.css" rel="stylesheet">
  <link href="{{ STATIC_URL }}citajmi/css/bootstrap-fileupload.css" rel="stylesheet">
{% endblock %}

{% block highlighted %}
  <div class="container">
    <div class="row-fluid header">
      <h2 class="page-title"><span>Prijavite događaj</span> <small>koji organizirate u knjižnici, dječjem vrtiću, centru za kulturu...</small></h2>
    </div>
  </div>
{% endblock highlighted %}

{% block content %}
  <div class="row block">
    <div class="span8">
      <!-- Contact form -->
      <form id="event_form" class="form-horizontal well" enctype="multipart/form-data" action="" method="POST">
        {% csrf_token %}
        {{ event_form.title|bootstrap }}
        {{ event_form.email|bootstrap }}
        {% with event_form.start as field %}
          <div class="control-group {% if field.errors %} error {% else %} required {% endif %}">
            <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
            <div class="controls">
              <div class="input-append date">
                {{ field }}
                <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
              </div>
              {% if field.help_text %}<p class="help-block">{{ field.help_text }}</p>{% endif %}
              {% for error in field.errors %}<span class="help-inline">{{ error }}</span>{% endfor %}
            </div>
          </div>
        {% endwith %}
        {% with event_form.end as field %}
          <div class="control-group {% if field.errors %} error {% else %} required {% endif %}">
            <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
            <div class="controls">
              <div class="input-append date">
                {{ field }}
                <span class="add-on"><i data-time-icon="icon-time" data-date-icon="icon-calendar"></i></span>
              </div>
              {% if field.help_text %}<p class="help-block">{{ field.help_text }}</p>{% endif %}
              {% for error in field.errors %}<span class="help-inline">{{ error }}</span>{% endfor %}
            </div>
          </div>
        {% endwith %}
        {{ event_form.location|bootstrap }}
        {% with img_form.image as field %}
          <div class="control-group {% if field.errors %} error {% else %} required {% endif %}">
            <label class="control-label" for="id_{{ field.html_name }}">{{ field.label }}</label>
            <div class="controls">
              <div class="fileupload fileupload-new" data-provides="fileupload">
                <div class="fileupload-new thumbnail" style="width: 50px; height: 50px;"></div>
                <div class="fileupload-preview fileupload-exists thumbnail" style="width: 50px; height: 50px;"></div>
                <span class="btn btn-file"><span class="fileupload-new">Izaberi</span><span class="fileupload-exists">Promijeni</span>{{ field }}</span>
                <a href="#" class="btn fileupload-exists" data-dismiss="fileupload">Ukloni</a>
              </div>
              {% if field.help_text %}<p class="help-block">{{ field.help_text }}</p>{% endif %}
              {% for error in field.errors %}<span class="help-inline">{{ error }}</span>{% endfor %}
            </div>
          </div>
        {% endwith %}
        {{ event_form.info|bootstrap }}
        <div class="form-actions">
          <input type="submit" class="btn btn-primary" value="Prijavite događaj">
        </div>
      </form>
    </div>
  </div>
{% endblock %}

{% block js %}
<script src="{{ STATIC_URL }}citajmi/js/bootstrap-datetimepicker.min.js"></script>
<script src="{{ STATIC_URL }}citajmi/js/bootstrap-datetimepicker.hr.js"></script>
<script src="{{ STATIC_URL }}citajmi/js/bootstrap-fileupload.js"></script>
<script>
$(document).ready(function() {
    $('.input-append.date').datetimepicker({
      format: 'dd.MM.yyyy. hh:mm',
      pickSeconds: false,
      language: 'hr'
    });
});
</script>
{% endblock %}
