<!-- Sponsors -->
<div id="sponsors" class="block margin-top-large">
  <h3 class="block-title" id="sponsor"><span>Pokrovitelji</span></h3>
  <div class="team-member">

    <div class="span2 first">
      <a href="http://www.mspm.hr/" target="_blank" rel="nofollow">
        <img src="{{ STATIC_URL }}citajmi/img/sponsors/mspm.png" class="img-polaroid" alt="">
      </a>
    </div>
    <div class="span2">
      <h4><strong>Ministarstvo za demografiju, obitelj, mlade i socijalnu politiku</strong></h4>
      {% comment %}
      <h5>Potpredsjednica Vlade i ministrica socijalne politike i mladih</h5>
      <div class="social-media bordered-top-medium">
        <a href="https://twitter.com/VladaRH" class="_tooltip" data-placement="top" data-original-title="Twitter" target="_blank" rel="nofollow"><i class="icon-twitter"></i></a>
        <a href="http://www.facebook.com/pages/Milanka-Opa%C4%8Di%C4%87/119644974750749" class="_tooltip" data-placement="top" data-original-title="Facebook" target="_blank" rel="nofollow"><i class="icon-facebook"></i></a>
      </div>
      {% endcomment %}
    </div>

    <div class="span2 other">
      <a href="http://www.euread.com/" target="_blank" rel="nofollow">
        <img src="{{ STATIC_URL }}citajmi/img/sponsors/euread.jpg" class="img-polaroid" alt="">
      </a>
    </div>
    <div class="span2">
      <h3>EU Read</h3>
      <h5>Kampanja "Čitaj mi!" pokrenuta je u Europskoj godini čitanja naglas koju je proglasila Europska organizacija za promicanje čitanja "EU READ".</h5>
    </div>

    <div class="span2 other">
      <a href="/pismo-podrske/">
        <img src="{{ STATIC_URL }}citajmi/img/sponsors/logo.jpg" class="img-polaroid" alt="">
      </a>
    </div>
    <div class="span2">
      <h3>Čestitka ministrice kulture</h3>
    </div>

  </div>
</div>
