<!-- Sponsors -->
<div id="sponsors" class="block margin-top-large">
  <h3 class="block-title" id="sponsor"><span>Pokrovitelj</span></h3>
  <div class="team-member">
    <div class="span2 first">
      <a href="http://www.vlada.hr/hr/naslovnica/o_vladi_rh/clanovi_vlade/milanka_opacic">
        <img src="{{ STATIC_URL }}citajmi/img/sponsors/opacic.jpg" class="img-polaroid" alt="">
      </a>
    </div>
    <div class="span4">
      <h3>Milanka Opačić</h3>
      <h5>Potpredsjednica Vlade i ministrica socijalne politike i mladih</h5>
      <div class="social-media bordered-top-medium">
        <a href="https://twitter.com/VladaRH" class="_tooltip" data-placement="top" data-original-title="Twitter"><i class="icon-twitter"></i></a>
        <a href="http://www.facebook.com/pages/Milanka-Opa%C4%8Di%C4%87/119644974750749" class="_tooltip" data-placement="top" data-original-title="Facebook"><i class="icon-facebook"></i></a>
      </div>
    </div>
    {# <div class="span1"></div> #}
    {% comment %}
    <div class="span2 other">
      <a href="http://www.unicef.hr/">
        <img src="{{ STATIC_URL }}citajmi/img/sponsors/unicef.jpg" class="img-polaroid" alt="">
      </a>
    </div>
    <div class="span4">
      <h3>unicef</h3>
      <h5>Zajedno za djecu</h5>
      <div class="social-media bordered-top-medium">
        <a href="https://twitter.com/UNICEFHrvatska" class="_tooltip" data-placement="top" data-original-title="Twitter"><i class="icon-twitter"></i></a>
        <a href="http://www.facebook.com/UNICEFHrvatska" class="_tooltip" data-placement="top" data-original-title="Facebook"><i class="icon-facebook"></i></a>
      </div>
    </div>
    {% endcomment %}
  </div>
</div>
