<!-- Sponsors -->
<div id="sponsors" class="block margin-top-large">
  <h3 class="block-title" id="sponsor"><span>Pokrovitelji</span></h3>
  <div class="team-member">

    <div class="span2 first">
      <a href="http://www.mspm.hr/" target="_blank" rel="nofollow">
        <img src="{{ STATIC_URL }}citajmi/img/sponsors/mspm.png" class="img-polaroid" alt="">
      </a>
    </div>
    <div class="span2">
      <h4><strong>Ministarstvo rada, mirovinskoga sustava, obitelji i socijalne politike</strong></h4>
    </div>

    <div class="span2 other">
      <a href="http://www.euread.com/" target="_blank" rel="nofollow">
        <img src="{{ STATIC_URL }}citajmi/img/sponsors/euread.jpg" class="img-polaroid" alt="">
      </a>
    </div>
    <div class="span2">
      <h3>EU Read</h3>
      <h5>Kampanja "Čitaj mi!" pokrenuta je u Europskoj godini čitanja naglas koju je proglasila Europska organizacija za promicanje čitanja "EU READ".</h5>
    </div>

    <div class="span2 other">
      <a href="/pismo-podrske/">
        <img src="{{ STATIC_URL }}citajmi/img/sponsors/logo.jpg" class="img-polaroid" alt="">
      </a>
    </div>
    <div class="span2">
      <h3>Podrška ministrice kulture i medija</h3>
    </div>

  </div>
</div>
