{% extends "base.html" %}
{% load base_extras %}

{% block title %}{{ block.super }} - {{ flatpage.title|split:"-"|first }}{% endblock title %}
{# flatpage title can have subtitle, format: 'Title - subtitle' #}
{% block highlighted %}
  <div class="container">
    <div class="row-fluid header">
      <h2 class="page-title"><span>{{ flatpage.title|split:"-"|first }}</span> <small>{% if flatpage.title|split:"-"|length_is:"2" %}{{ flatpage.title|split:"-"|last }}{% endif %}</small></h2>
    </div>
  </div>
{% endblock highlighted %}

{% block mission_statement %}
{% endblock %}

{% block content %}
  {# <!-- Flash message --> #}
  {% if messages %}
    <div class="row">
      <div class="offset3 span8">
        {% for msg in messages %}
          <div class="alert {% if msg.tags %}alert-{{ msg.tags }}{% endif %}">
            <a class="close" data-dismiss="alert">×</a>{{ msg }}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  <div class="row">
    <!-- Sidebar -->
    <div id="flatpage_nav_container" class="span3 sidebar sidebar-left">
      <div class="inner">
        <div class="block">
          <h3 class="block-title sub-title"><span>Sadržaj</span></h3>
          <ul class="nav nav-list secondary-nav" id="flatpage_nav">
          </ul>
        </div>
      </div>
    </div>
    <!-- Page content -->
    <div class="span8">
      <div class="block">
        <div id="flatpage_content">{{ flatpage.content }}</div>
      </div>
    </div>
  </div>
{% endblock %}

{% block js %}
<script type="text/javascript">
$(document).ready(function() {
    // add links to navigation or hide sidebar
    if ($('#flatpage_content h3').length > 0) {
        $('#flatpage_content h3').each(function(index) {
            $(this).addClass('block-title sub-title');
            $(this).attr('id', 'pt'+index);
            $('#flatpage_nav').append('<li><a href="#'+$(this).attr('id')+'"><i class="icon-chevron-right"><\/i> '+$(this).text()+'<\/a><\/li>');
        });
        // set offset for nav links
        $('#flatpage_nav a').click(function() {
            var target = $(this).attr('href')
            var offset = $('#top').height();
            $(window).scrollTop($(target).offset().top - offset);
            return false;
        });
    } else {
        $('#flatpage_nav_container').hide();
    }
    // decorate images
    $('#flatpage_content img').addClass('img-polaroid');
    // eng nav title
    if (window.location.pathname == '/campaign/') {
      $('.block-title.sub-title span').html('Content');
    }
});
</script>
{% endblock %}
