{% extends "flatpages/default.html" %}
{% load url from future %}

{% block highlighted %}
  <div class="inner">
    <!-- For best results use images all the same size (in this example they are 600px x 400px) -->
    <!--Flexslider Showshow-->
    <section class="flexslider-wrapper container">
      <div class="flexslider" data-slidernav="auto" data-transition="slide">
        <!-- Slides -->
        <div class="slides">
          <!--Slide #1-->
          <div class="slide row-fluid">
            <div class="span6"><img class="img-polaroid" src="{{ STATIC_URL }}citajmi/img/slides/unicef-giacomo_perezzi.jpg" alt="" class="animated fadeInDownBig" /></div>
            <div class="span6 caption animated fadeInUpBig">
              <h2>Čitaj mi!</h2>
              <h4>Prva nacionalna kampanja za poticanje čitanja naglas djeci od najranije dobi</h4>
              <p class="slide-text">
                Kampanja "Čitaj mi!" pokrenuta je na Međunarodni dan dječje knjige 2. travnja 2013. Na otvorenju su bili UNICEF-ova ambasadorica dobre volje Maja Vučić, glumac Filip Juričić i dječja spisateljica Željka Horvat Vukelja koji su pročitali nekoliko kratkih priča.
              </p>
              <h4><a href="{% url 'myflatpages:about' %}">Opširnije</a></h4>
            </div>
          </div>
          <!--Slide #2-->
          <div class="slide row-fluid">
            <div class="span6"><img class="img-polaroid transparent" src="{{ STATIC_URL }}citajmi/img/slides/slikovnice_3.png" alt="" /></div>
            <div class="span6 caption">
              <h2>Knjižničari preporučuju</h2>
              <h4>
                Slikovnica je prva djetetova knjiga u kojoj je priča obogaćena ilustracijama ili slikama.
                Birajte za dijete samo najbolje slikovnice, odgovarajuće njegovoj dobi.
              </h4>
              <h4><a href="{% url 'books:book_list' %}">Lista dobrih knjiga za bebe i djecu rane dobi</a></h4>
            </div>
          </div>
          <!--Slide #3-->
          <div class="slide row-fluid">
            <div class="span6"><img class="img-polaroid" src="{{ STATIC_URL }}citajmi/img/slides/nagradna.jpg" alt="" /></div>
            <div class="span6 caption">
              <h2>Nagradna igra</h2>
              <h4>Pozivamo vas da sudjelujete u nagradnoj igri "Čitaj mi!"</h4>
              <p class="slide-text">
                Pošaljite nam fotografiju ili video snimku koja prikazuje odraslu osobu i/ili dijete/djecu u
                dobi do 4 godine za vrijeme aktivnosti čitanja.
              </p>
              <a href="{% url 'gallery:entry_add' %}" class="btn btn-large btn-warning">Sudjelujte</a>
            </div>
          </div>
        </div> <!-- End of Slides-->
      </div>
    </section>
  </div>
{% endblock highlighted %}

{% block mission_statement %}
  <div class="row-fluid mission">
    <div class="inner">
      <h3>Samo <span>15 minuta glasnog čitanja</span> dnevno pomaže djetetovu cjelokupnom razvoju. <small><a href="{% url 'myflatpages:reading_aloud' %}">Opširnije</a></small></h3>
    </div>
  </div>
{% endblock %}

{% block content %}
  <!-- portfolio -->
  <div class="block portfolio margin-top-large">
    <h2 class="block-title"><span>Izdvojeno</span> <small></small></h2>
    <ul class="thumbnails projects">
      <li class="span3">
        <a href="{% url 'myflatpages:books_about' %}"><img src="{{ STATIC_URL }}citajmi/img/portfolio/slikovnice_3.jpg" alt="" class="img-polaroid"></a>
        <h3 class="title"><a href="{% url 'myflatpages:books_about' %}">O Slikovnici</a><small class="pull-right"></small></h3>
        <p class="muted">Slikovnica dijete uči o svijetu, odgaja ga i pomaže mu savladati poteškoće s kojima se susreće.</p>
      </li>
      <li class="span3">
        <a href="{% url 'myflatpages:reading_paediatrician' %}"><img src="{{ STATIC_URL }}citajmi/img/portfolio/pedijatri_2.jpg" alt="" class="img-polaroid"></a>
        <h3 class="title"><a href="{% url 'myflatpages:reading_paediatrician' %}">Čitajmo naglas s pedijatrima</a><small class="pull-right"></small></h3>
        <p class="muted">Pozivamo pedijatre da uključe promociju pismenosti u svoj svakodnevni klinički rad.</p>
      </li>
      <li class="span3">
        <a href="{% url 'events:event_list' %}"><img src="{{ STATIC_URL }}citajmi/img/portfolio/dogadanja_2.jpg" alt="" class="img-polaroid"></a>
        <h3 class="title"><a href="{% url 'events:event_list' %}">Događanja</a><small class="pull-right"></small></h3>
        <p class="muted">Pogledajte popis aktualnih događanja ili prijavite vlastiti događaj koji organizirate.</p>
      </li>
      <li class="span3">
        <a href="http://www.facebook.com/CitajMi"><img src="{{ STATIC_URL }}citajmi/img/portfolio/facebook.jpg" alt="" class="img-polaroid"></a>
        {% comment %}
        <div id="likebox_wrapper">
          <iframe src="//www.facebook.com/plugins/likebox.php?href=http%3A%2F%2Fwww.facebook.com%2FCitajMi&amp;width=400&amp;height=258&amp;show_faces=true&amp;colorscheme=light&amp;stream=false&amp;border_color&amp;header=false" scrolling="no" frameborder="0" style="border:none; overflow:hidden; width:400px; height:258px;" allowTransparency="true"></iframe>
        </div>
        {% endcomment %}
        <h3 class="title"><a href="http://www.facebook.com/CitajMi">Pratite nas na Facebooku</a><small class="pull-right"></small></h3>
        <p class="muted">Pratite novosti iz kampanje "Čitaj mi!" na našim <a href="http://www.facebook.com/CitajMi">Facebook</a> i <a href="https://twitter.com/Citaj_mi">Twitter</a> stranicama.</p>
      </li>
    </ul>
  </div>

  {% include "citajmi/sponsor.html" %}
{% endblock %}
